{% extends 'vi/layout.html' %}

{% block title %}
    Giới thiệu
{% endblock %}


{% block main %}
    <section class="main-content">
        <div class="header">
            <h2>Giới thiệu về trang web</h2>
            <p>Đây là trang giới thiệu về trang web tra cứu sinh vật</p>
        </div>

        <div class="content">
            <p>
                Trang web này được xây dựng với ý tưởng cung cấp một công cụ tra cứu đơn giản cho những người yêu thích sinh vật và những người tham quan các bảo tàng thiên nhiên, đặc biệt là những người muốn tìm hiểu thêm về các loài sinh vật.
            </p>

            <p>
                Thông tin về các loài động vật được tóm tắt ngắn gọn, dễ hiểu và phù hợp với mọi lứa tuổi.
            </p>

            <p>
                Trang web này được tạo bởi Đào Hải Long vào tháng 8/2026.
            </p>
        </div>
    </section>

{% endblock %}