{% extends 'vi/layout.html' %}

{% block title %}
    Trang chủ
{% endblock %}

{% block main %}
    <section class="main-content">
        <h2>Các loài sinh vật nổi bật</h2>

        {% for creature in creatures %}
            <div class="animals">
                <h3>{{ creature["species"] }}</h3>
                <p><i>{{ creature["scientific_name"] }}</i></p>
                <img src="{{ url_for('static', filename=creature['photo']) }}" alt="{{ creature['alt_text'] }}" /><br />
                <a href="{{ url_for('creature_info', creature_id=creature['id']) }}">Xem thông tin ←</a>
            </div>
        {% endfor %}
    </section>

{% endblock %}
