<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta  http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>
            {% block title %}
            Website tra cứu sinh vật
            {% endblock %}
        </title>

        <meta name="description" content="Đây là trang web tra cứu sinh vật" />
        <meta name="keywords" content="tra cứu, sinh vật, động vật, thú" />
        <meta name="author" content="Đào Hải Long" />
        <meta name="robots" content="index, follow" />

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='bao-tang-thien-nhien.png')}}" />

        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:site_name" content="Website tra cứu sinh vật" />
        <meta property="og:image" content="bao-tang-thien-nhien.png" />
        <meta property="og:url" content="{{ request.url }}">
        <meta property="og:type" content="article">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ description }}" />
        <meta name="twitter:image" content="bao-tang-thien-nhien.png" />

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        <header>

            <div class="logo-area">
                <a href="{{ url_for('index') }}" class="logo-link">
                    <img src="{{ url_for('static', filename='images/logo/bao-tang-thien-nhien.png') }}" alt="Logo Bảo tàng Thiên nhiên Việt Nam" class="logo-img" />

                    <div class="introduction">
                        <h1>Website tra cứu sinh vật</h1>
                        <p>Đây là trang web dùng để tra cứu các sinh vật.</p>
                    </div>
                </a>
            </div>

            <form class="search-bar" action="{{ url_for('search') }}" method="GET">

                <label class="visually-hidden" for="search">Tìm kiếm sinh vật</label>

                <input id="search" name="search" type="search" placeholder="Nhập sinh vật bạn muốn tìm..." />

                <button type="submit">Tìm kiếm</button>

            </form>

            <nav class="nav-bar">

                <a href="{{ url_for('index') }}">Trang chủ</a>
                <a href="{{ url_for('gioi_thieu') }}">Giới thiệu</a>
                <a href="{{ url_for('lien_he') }}">Liên hệ</a>

                <label for="language">Ngôn ngữ</label>

                <select id="language" name="language" onchange="window.location.href=this.value">
                    <option value="{{ url_for('index') }}" {% if language == "vi" %}selected{% endif %}>Tiếng Việt</option>
                    <option value="{{ url_for('index_en') }}" {% if language == "en" %}selected{% endif %}>English</option>
                </select>

            </nav>

        </header>

        <main>
            <aside class="sidebar">
                <h2>Các đầu mục sinh vật</h2>
                <nav>
                  <ul>
                    <li><a href="#">Động vật</a></li>
                    <li><a href="#">Thực vật</a></li>
                    <li><a href="#">Nấm</a></li>
                    <li><a href="#">Côn trùng</a></li>
                  </ul>
                </nav>
            </aside>

            {% block main %}
            {% endblock %}
        </main>

        <footer>
          <p>© 2026 Bảo tàng Thiên nhiên Việt Nam.</p>

          <address>
            Tạo bởi: <strong>Đào Hải Long</strong>
          </address>
        </footer>

    </body>
</html>
