{% extends 'vi/layout.html' %}

{% block title %}
    Danh mục sinh vật
{% endblock %}

{% block main %}

<section class="main-content">

    {% if category == "animal" %}
        <h2>Động vật</h2>

    {% elif category == "plant" %}
        <h2>Thực vật</h2>

    {% elif category == "fungus" %}
        <h2>Nấm</h2>

    {% elif category == "insects" %}
        <h2>Côn trùng</h2>
    {% endif %}


    {% for creature in creatures %}

        <a href="{{ url_for('creature_info', creature_id=creature['id']) }}" class="animal-link">

            <div class="animals">

                <img src="{{ url_for('static', filename=creature['photo']) }}" alt="{{ creature['alt_text'] }}" />

                <h3>{{ creature['species'] }}</h3>

                <p><i>{{ creature['scientific_name'] }}</i></p>

            </div>

        </a>

    {% else %}

        <p>Danh mục này hiện chưa có sinh vật nào.</p>

    {% endfor %}

</section>

{% endblock %}