{% extends "vi/layout.html" %}

{% block title %}
    Tra cứu: {{ query }}
{% endblock %}

{% block main %}
    <section class="main-content">
        <h2>Kết quả tìm kiếm</h2>


        {% if results %}

            {% for creature in results %}
                <div class="search-result">
                    <img src="{{ url_for('static', filename=creature['photo']) }}" alt="{{ creature['alt_text'] }}" />
                    <div class="search-result-info">
                        <h3>{{ creature["species"] }}</h3>
                        <p><i>{{ creature["scientific_name"] }}</i></p>
                        <a href="{{ url_for('creature_info', creature_id=creature['id']) }}">Xem thông tin</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}

            <p>Không tìm thấy sinh vật nào.</p>

        {% endif %}
    </section>
{% endblock %}