{% extends "vi/layout.html" %}

{% block title %}
    Tra cứu: {{ query }}
{% endblock %}

{% block main %}
    <section class="main-content">
        <h2>Kết quả tìm kiếm</h2>

        {% if results %}

            {% for creature in results %}
                <div class="animals"> 
                    {% for creature in results %}

                    <div class="animals">
                        <h3>
                            <a href="{{ url_for('creature_info', creature_id=creature['id']) }}"> {{ creature["species"] }}</a>
                        </h3>
                        <p>{{ creature["scientific_name"] }}</p>
                    </div>

                    {% endfor %}
                </div>
            {% endfor %}

        {% else %}

            <p>Không tìm thấy sinh vật nào.</p>

        {% endif %}
    </section>
{% endblock %}