{% extends 'vi/layout.html' %}

{% block title %}
    Liên hệ
{% endblock %}


{% block main %}
    <section class="main-content">
        <h1>Wanna hear a dad joke?</h1>
        <p>When does a joke become a dad joke?</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>When it becomes apparent!</p>
        <p><b>Have a nice day!</b></p>
        <br />
        <p>Plus, Phương ơi, Béo quá béo rồi =))))))))))))))</p>
    </section>
{% endblock %}