{% extends 'en/layout2.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <section class="main-content">
        <div class="header">
            <h2>About this website</h2>
            <p>This is a page which introduces the creature lookup website</p>
        </div>

        <div class="content">
            <p>
                This website was created with the idea of providing a simple lookup tool for people who are interested in creatures and visitors to natural museums, especially those who want to learn more about different species.
            </p>

            <p>
                Information about the animals is presented in a concise, easy to read format for people of all ages.
            </p>

            <p>
                This website was created by Dao Hai Long in August 2026.
            </p>
        </div>
    </section>

{% endblock %}
