<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>
            {% block title %}
            Creature Lookup Website
            {% endblock %}
        </title>

        <meta name="description" content="This is a website for looking up information about creatures" />
        <meta name="keywords" content="lookup, creatures, animals, wildlife" />
        <meta name="author" content="Đào Hải Long" />
        <meta name="robots" content="index, follow" />

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='bao-tang-thien-nhien.png')}}" />

        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:site_name" content="Creature Lookup Website" />
        <meta property="og:image" content="bao-tang-thien-nhien.png" />
        <meta property="og:url" content="{{ request.url }}">
        <meta property="og:type" content="article">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ description }}" />
        <meta name="twitter:image" content="bao-tang-thien-nhien.png" />

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </head>

    <body>
        <header>

            <div class="logo-area">
                <a href="{{ url_for('index_en') }}" class="logo-link">
                    <img src="{{ url_for('static', filename='images/logo/bao-tang-thien-nhien.png') }}" alt="Logo of the Vietnam National Museum of Nature" class="logo-img" />

                    <div class="introduction">
                        <h1>Creature Lookup Website</h1>
                        <p>This website is used to look up information about creatures.</p>
                    </div>
                </a>
            </div>

            <form class="search-bar" action="{{ url_for('search') }}" method="GET">

                <label class="visually-hidden" for="search">Search for a creature</label>

                <input id="search" name="search" type="search" placeholder="Enter the creature you want to search for..." />

                <button type="submit">Search</button>

            </form>

            <nav class="nav-bar">

                <a href="{{ url_for('index_en') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact</a>

                <label for="language">Language</label>

                <select id="language" name="language" onchange="window.location.href=this.value">
                    <option value="{{ url_for('index') }}" {% if language == "vi" %}selected{% endif %}>Tiếng Việt</option>
                    <option value="{{ url_for('index_en') }}" {% if language == "en" %}selected{% endif %}>English</option>
                </select>

            </nav>

        </header>

        <main>
            <aside class="sidebar">
                <h2>Creature Categories</h2>
                <nav>
                  <ul>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">Plants</a></li>
                    <li><a href="#">Fungi</a></li>
                    <li><a href="#">Insects</a></li>
                  </ul>
                </nav>
            </aside>

            {% block main %}
            {% endblock %}
        </main>

        <footer>
          <p>© 2026 Vietnam National Museum of Nature.</p>

          <address>
            Created by: <strong>Đào Hải Long</strong>
          </address>

        </footer>

    </body>
</html>