{% extends 'en/layout2.html' %}

{% block title %}
    Search {{ query }}
{% endblock %}

{% block main %}
    <section class="main-content">
        <h2>Search results</h2>

        {% if results %}

            {% for creature in results %}
                <div class="animals"> 
                    {% for creature in results %}

                    <div class="animals">
                        <h3>
                            <a href="{{ url_for('creature_info_en', creature_id=creature['id']) }}"> {{ creature["species"] }}</a>
                        </h3>
                        <p>{{ creature["scientific_name"] }}</p>
                    </div>

                    {% endfor %}
                </div>
            {% endfor %}

        {% else %}

            <p>No creatures found.</p>

        {% endif %}
    </section>
{% endblock %}