{% extends 'vi/layout.html' %}

{% block title %}
    Xóa dữ liệu sinh vật
{% endblock %}


{% block main %}
    <section class="main-content">
        <h2>Trang xóa dữ liệu sinh vật</h2>
        <p>Trang này được sử dụng để xóa dữ liệu của một sinh vật khi có sai sót nghiêm trọng hoặc thông tin của sinh vật đó hoặc chính sinh vật đó không hề tồn tại</p>

        <h3>Nhập sinh vật bạn muốn cập nhật dữ liệu: </h3>
        <form class="search-bar" action="{{ url_for('xoa_du_lieu') }}" method="GET">

            <label class="visually-hidden" for="search">Tìm kiếm sinh vật</label>

            <input id="search" name="search" type="search" placeholder="Nhập sinh vật bạn muốn xóa..." />

            <button type="submit">Tìm kiếm</button>

        </form> 

            {% if results %}
                <h3>Kết quả tìm kiếm</h3>

                {% for creature in results %}

                    <div class="animals">
                        <h4>{{ creature["species"] }}</h4>
                        <p><i>{{ creature["scientific_name"] }}</i></p>

                        <form method="POST"
                            action="{{ url_for('xoa_sinh_vat', creature_id=creature['id']) }}">
                            <button type="submit">Xóa sinh vật</button>
                        </form>
                    </div>


                {% endfor %}
            {% elif query %}
                    <p>Không tìm thấy sinh vật nào</p>
            {% endif %}
    </section>
{% endblock %}